.Rproj.user
.Rhistory
.RData
.Ruserdata
*.tif
*.tif.aux.xml
data/hfp-100m-2020/
data/esa-worldcover/
/data/items.json
/data/bobcat_coyotes_wa_gps.csv
/data/bobcat_extracted.csv
/data/coyote_extracted.csv
/data/coyote_ssf_data.csv
/data/bobcat_ssf_data.csv