/* Inline code styling */
body code {
  background-color: #424242 !important;
  color: #FFFFFF !important;
}

/* All links: normal state */
a,
a.crossref,
a.citation {
  color: #00A67D;
  text-decoration: none;
}

/* All links: hover state -> darker color, no underline */
a:hover,
a.crossref:hover,
a.citation:hover {
  color: #00805F;
  text-decoration: none;
}

/* Thin outline around all images */
img {
  border: 1px solid #424242;
  border-radius: 4px;
}

/* Sidebar hihlight color */
.sidebar nav[role=doc-toc] ul>li>a.active,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid #00A67D !important;
    color: #00A67D !important;
}
